// Write (or import) your styles here
body{
    font-size: 1.2rem !important;
}
.app-header.navbar .navbar-brand img {
    max-width: 350px;
    max-height: 35px;
}

.multiselect{
    width: auto; flex: 1;
}
.multiselect__tags{
    height: 100%
}

select.form-control {
    padding: 0 14px 0 0!important;
    font-size: 14px;
}

.form-text{
    color:red;
    font-weight: bold;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }

  .o-pag__link--current{
     background-color:#001C54 !important;
  }

  .vue-notification{
      font-size: 1rem !important;
      padding: 20px;
      font-weight: bold;
      background-image: url('images/vendor/craftable/error-triangle.png');
  }